<%
  require 'digest/md5'
  digest = Digest::MD5.hexdigest("MLY/吳育昇\n")

%>

<div class="row">
    <div id="sidebar" class="span2">
        <ul class="nav nav-list">
            <li class="nav-header">快速標註</li>
            <li><a href="#" class="filter" data-filter="主席">主席</a></li>
            <li><a href="#" class="filter" data-filter="陳院長冲">陳院長冲</a></li>
            <li><a href="#" class="filter" data-filter="高委員金素梅">高委員金素梅</a></li>
        </ul>
    </div>
    <div class="span10">
        <h1>立法院第 8 屆第 2 會期 第 6 次</h1>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#report">
                    報告事項
                </a>
            </div>
            <div id="report" class="accordion-body collapse">
                <div class="accordion-inner">
                    <h2>宣讀第8屆第2會期第5次會議議事錄。（全文見本期議事錄）</h2>
                    <div class="media">
                        <a class="avatar pull-left" href="#">
                            <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">主席</h4>
                            <p id="r1-1">報告院會，針對第2會期第5次會議議事錄，並無委員或黨團提出錯誤或遺漏之處，第2會期第5次會議議事錄確定。</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
                質詢事項
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                ...
                </div>
            </div>
        </div>
        <hr>
        <div class="log">
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">高委員金素梅</h4>
                    <p id="p1-1">主席、行政院陳院長、各部會首長、各位同仁。看到之前陳院長好像有體力不堪的情形，加油！</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">主席</h4>
                    <p id="p2-1">請行政院陳院長答復。</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">陳院長冲</h4>
                    <p id="p3-1">主席、各位委員。謝謝。</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">高委員金素梅</h4>
                    <p id="p4-1">還記得上次本席在這裡針對各原鄉地區統籌款分配嚴重失衡問題，而向院長提出的質詢嗎？當時您回答中央有編列4年500億的預算，而原民會明年也編了68億的預算，這樣的回答顯示院長對原住民預算問題是非常陌生的！</p>
                    <p id="p4-2">4年500億，簡單來說就只是行政院各部會這4年執行在原鄉的公務預算總和！這些預算不是特別編列的，而是這4年當中各部會必須執行的例行性業務，並不是專門用在原鄉地區。以交通部來看，98至101年編列了150億預算，而這150億被當作改善、維護「省道」的公務預算，可是原鄉地區要的是鄉道、聯絡道及農路……</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">陳院長冲</h4>
                    <p id="p5-1">對，我們很清楚。但是我跟您報告，省道部分也是對原鄉地區，尤其是南迴那邊……</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">高委員金素梅</h4>
                    <p id="p6-1">我懂你的意思，你的意思是省道部分，原住民也在走，所以就也把它列入4年500億的計畫。而原民會明年度的預算是68億，實際上可以支用的大概只有30億。院長如果有心要了解，站在您旁邊的這位主委，可以專門為您報告，可是本席今天不想花太多時間在這個部分，本席今天要跟您探討的是其他的問題。</p>
                    <p id="p6-2">您對原住民的問題不清楚，沒有關係，我在立法院已經11年了，我走遍所有的原鄉部落，看盡地方政府和中央政府如何處理大小風災的問題，也看到政府編列各式各樣的特別預算，還有地方政府刻意挪用中央統籌分配款。本席要在這裡跟您說明，這些問題背後凸顯的是原鄉幾十年來的痛苦。</p>
                    <p id="p6-3">本席一直覺得很奇怪，凍省之後，這些錢跑到哪裡去？凍省之前，原鄉的基礎建設從來不缺，而且做得非常好，但是凍省之後，錢統統收歸給中央，我們也看到凍省之後，原鄉地區輪流成為災區。以2004年七二水災來看，那次的風災，中央突然發現凍省之後，所有縣管河川的整治預算，統統被地方政府挪為他用，農路預算及其權責也歸給地方，當時的游錫院長說地方能做的，中央不要做。就是因為這樣的狀況，原住民地區在凍省之後，所有的基礎建設都破損不堪，一到風災的時候，崩塌的地方都是原鄉地區，當時中央也看到這個問題，於是提出水患治理計畫，8年有1,160億，要來補凍省之後，地方政府把這些錢挪出去的破洞。可是院長知道嗎，這個為期八年的計畫，明年即將結束。我們來看一下它的執行狀況，嘉義縣總共有8項，其中執行率很差的大概只有40%，明年度就要結束了，還有很多項目的執行率是0；高雄市也有8項工程是執行率差的，有一項沒有執行，一項只有1%，其他大都執行50%；花蓮縣有4個，其中2個的執行率也是0，明年就要結束的計畫，還有這麼多經費沒有執行。</p>
                    <p id="p6-4">再看莫拉克風災，莫拉克風災重創南台灣，受創的地區大概也都在原鄉，中央編列3年1,200億災後重建預算，該計畫今年就要結束了，我們看地方政府的執行力，台東是48.44%，屏東55.05%，高雄53%，嘉義縣74%，合計是57.8%。院長上台之後，積極推動所謂的行政區劃法及財政收支劃分，並將這兩個法案列為最優先的法案，問題是如果沒有結合內政部正在積極研擬的國土計畫法及原民會的原住民族自治法來共同思考的話，本席認為它是沒辦法完全落實防災救難預算，以及國土保安，永續發展的目的。</p>
                    <p id="p6-5">行政院版的財劃法草案，希望達到的目的是增加地方實質財源、保障地方財源只增不減。院長看到本席剛剛提供的兩個與風災有關的特別預算，它在現行地方制度的架構下，因為政治考量，你要增加或是保障地方的財源，我認為就算給地方政府再多的預算，還是會像現在這樣，要不就是被挪去所謂的經濟發展，或是挪去人口多，選票多的地方，所以選票少的30個原住民山地鄉又被犧牲了，而且防災不編預算，救難就推給中央，這就是地方政府現在面對災害的態度。</p>
                    <p id="p6-6">本席舉這幾位縣長說的話，讓院長回應一下。2011年9月2日，屏東縣曹啟鴻縣長說：中央治水預算不是沒有，就是拖延分期，讓治水成效大打折扣，年復一年，老是事後陪官員巡視災區，實在讓人心灰意冷。2012年5月21日台南市長賴清德說：大雨造成台南大淹水，連警車都因為地下道淹滿了水，被困在裡面，差一點滅頂。台南市長昨天前往勘災，他炮轟中央說：數百億的治水預算遲遲不通過，才會讓台南的災情如此慘重。2012年6月21日，嘉義縣縣長張花冠說：希望中央政府能夠編列預算協助嘉義縣在東石設立蓄洪池，以改善長久以來的淹水問題。2012年8月2日，花蓮縣長傅萁說：花蓮的河川流域面積占台灣的51%，可是整治河川的預算不到1%，一直沒有中央的預算來支持花蓮，花蓮縣政府已經達到舉債上限，無法再借錢了。中央財劃法也沒有通過，也沒有統籌分配稅款可以支應。他籲請中央重視花蓮的困境。</p>
                    <p id="p6-7">從2011年到2012年各個縣市首長砲打中央，我要質疑的是中央沒有給錢嗎？地方沒有統籌分配款嗎？凍省之前為何沒有這些問題？凍省之後的錢統統收歸中央，而這些錢也一一分配給地方，為何還要砲打中央？聽到這些縣長透過媒體放話，院長心裡有何感想？</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">陳院長冲</h4>
                    <p id="p7-1">委員剛剛提到的幾點，我一一跟您報告……</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">高委員金素梅</h4>
                    <p id="p8-1">主席、行政院陳院長、各部會首長、各位同仁。看到之前陳院長好像有體力不堪的情形，加油！</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">主席</h4>
                    <p id="p9-1">請行政院陳院長答復。</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">陳院長冲</h4>
                    <p id="p10-1">主席、各位委員。謝謝。</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">高委員金素梅</h4>
                    <p id="p11-1">還記得上次本席在這裡針對各原鄉地區統籌款分配嚴重失衡問題，而向院長提出的質詢嗎？當時您回答中央有編列4年500億的預算，而原民會明年也編了68億的預算，這樣的回答顯示院長對原住民預算問題是非常陌生的！</p>
                    <p id="p11-2">4年500億，簡單來說就只是行政院各部會這4年執行在原鄉的公務預算總和！這些預算不是特別編列的，而是這4年當中各部會必須執行的例行性業務，並不是專門用在原鄉地區。以交通部來看，98至101年編列了150億預算，而這150億被當作改善、維護「省道」的公務預算，可是原鄉地區要的是鄉道、聯絡道及農路……</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">陳院長冲</h4>
                    <p id="p12-1">對，我們很清楚。但是我跟您報告，省道部分也是對原鄉地區，尤其是南迴那邊……</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">高委員金素梅</h4>
                    <p id="p13-1">我懂你的意思，你的意思是省道部分，原住民也在走，所以就也把它列入4年500億的計畫。而原民會明年度的預算是68億，實際上可以支用的大概只有30億。院長如果有心要了解，站在您旁邊的這位主委，可以專門為您報告，可是本席今天不想花太多時間在這個部分，本席今天要跟您探討的是其他的問題。</p>
                    <p id="p13-2">您對原住民的問題不清楚，沒有關係，我在立法院已經11年了，我走遍所有的原鄉部落，看盡地方政府和中央政府如何處理大小風災的問題，也看到政府編列各式各樣的特別預算，還有地方政府刻意挪用中央統籌分配款。本席要在這裡跟您說明，這些問題背後凸顯的是原鄉幾十年來的痛苦。</p>
                    <p id="p13-3">本席一直覺得很奇怪，凍省之後，這些錢跑到哪裡去？凍省之前，原鄉的基礎建設從來不缺，而且做得非常好，但是凍省之後，錢統統收歸給中央，我們也看到凍省之後，原鄉地區輪流成為災區。以2004年七二水災來看，那次的風災，中央突然發現凍省之後，所有縣管河川的整治預算，統統被地方政府挪為他用，農路預算及其權責也歸給地方，當時的游錫院長說地方能做的，中央不要做。就是因為這樣的狀況，原住民地區在凍省之後，所有的基礎建設都破損不堪，一到風災的時候，崩塌的地方都是原鄉地區，當時中央也看到這個問題，於是提出水患治理計畫，8年有1,160億，要來補凍省之後，地方政府把這些錢挪出去的破洞。可是院長知道嗎，這個為期八年的計畫，明年即將結束。我們來看一下它的執行狀況，嘉義縣總共有8項，其中執行率很差的大概只有40%，明年度就要結束了，還有很多項目的執行率是0；高雄市也有8項工程是執行率差的，有一項沒有執行，一項只有1%，其他大都執行50%；花蓮縣有4個，其中2個的執行率也是0，明年就要結束的計畫，還有這麼多經費沒有執行。</p>
                    <p id="p13-4">再看莫拉克風災，莫拉克風災重創南台灣，受創的地區大概也都在原鄉，中央編列3年1,200億災後重建預算，該計畫今年就要結束了，我們看地方政府的執行力，台東是48.44%，屏東55.05%，高雄53%，嘉義縣74%，合計是57.8%。院長上台之後，積極推動所謂的行政區劃法及財政收支劃分，並將這兩個法案列為最優先的法案，問題是如果沒有結合內政部正在積極研擬的國土計畫法及原民會的原住民族自治法來共同思考的話，本席認為它是沒辦法完全落實防災救難預算，以及國土保安，永續發展的目的。</p>
                    <p id="p13-5">行政院版的財劃法草案，希望達到的目的是增加地方實質財源、保障地方財源只增不減。院長看到本席剛剛提供的兩個與風災有關的特別預算，它在現行地方制度的架構下，因為政治考量，你要增加或是保障地方的財源，我認為就算給地方政府再多的預算，還是會像現在這樣，要不就是被挪去所謂的經濟發展，或是挪去人口多，選票多的地方，所以選票少的30個原住民山地鄉又被犧牲了，而且防災不編預算，救難就推給中央，這就是地方政府現在面對災害的態度。</p>
                    <p id="p13-6">本席舉這幾位縣長說的話，讓院長回應一下。2011年9月2日，屏東縣曹啟鴻縣長說：中央治水預算不是沒有，就是拖延分期，讓治水成效大打折扣，年復一年，老是事後陪官員巡視災區，實在讓人心灰意冷。2012年5月21日台南市長賴清德說：大雨造成台南大淹水，連警車都因為地下道淹滿了水，被困在裡面，差一點滅頂。台南市長昨天前往勘災，他炮轟中央說：數百億的治水預算遲遲不通過，才會讓台南的災情如此慘重。2012年6月21日，嘉義縣縣長張花冠說：希望中央政府能夠編列預算協助嘉義縣在東石設立蓄洪池，以改善長久以來的淹水問題。2012年8月2日，花蓮縣長傅萁說：花蓮的河川流域面積占台灣的51%，可是整治河川的預算不到1%，一直沒有中央的預算來支持花蓮，花蓮縣政府已經達到舉債上限，無法再借錢了。中央財劃法也沒有通過，也沒有統籌分配稅款可以支應。他籲請中央重視花蓮的困境。</p>
                    <p id="p13-7">從2011年到2012年各個縣市首長砲打中央，我要質疑的是中央沒有給錢嗎？地方沒有統籌分配款嗎？凍省之前為何沒有這些問題？凍省之後的錢統統收歸中央，而這些錢也一一分配給地方，為何還要砲打中央？聽到這些縣長透過媒體放話，院長心裡有何感想？</p>
                </div>
            </div>
            <div class="media">
                <a class="avatar pull-left" href="#">
                    <img class="media-object" src="http://avatars.io/50a65bb26e293122b0000073/<%= digest %>?size=small">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">陳院長冲</h4>
                    <p id="p14-1">委員剛剛提到的幾點，我一一跟您報告……</p>
                </div>
            </div>
        </div>
    </div>
</div>
